/*Header Section*/

h1 {
    text-align: center;
}
/*Table Section*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
