/*Header Section*/

h1 {
    text-align: center;
}
/*Table Section*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }

  tr {
    background-color: black;
    font-family: monospace;
  }

  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }

/* Code CSS */
  .code-1 {
    color: #ea6c8b;
  }

  .code-2 {
    color: #83fff5;
  }